@{
    ViewBag.Title = "Contact Us @";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="well">
    <address>
        3434 Randolph Lane<br />
        Eden Prairie, MN 55344<br />
        <abbr title="Phone">P:</abbr>
        952.123.4567
    </address>

    <address>
        <strong>Email:</strong>   <p>Support@meditrack.com</p>

    </address>
</div>